<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-11-27T19:27:48Z</date>
	<key>WorkspacePath</key>
	<string>/Users/bmukheja/Dropbox/github/Interview Prep/LeetCode/data_structures/algorithms_data_structures_c++/algorithms_data_structures.xcodeproj</string>
</dict>
</plist>
